/* CSS declarations go here */

body {
  padding: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

#main {
  margin-top: 55px;
}

.view-header {
  text-align: center;
}

.view-header small {
  font-size: 12px;
  padding-left: 10px;
}

#car-header {
  color: white;
  line-height: 45px;
  padding-left: 10px;
  font-size: 28px;
  text-align: left;
  text-shadow: 0 2px 2px #222;
  background-color: rgba(34, 34, 34, 0.5);
}

#slider {
  position: relative;
  min-height: 200px;
  padding: 0;
}

#slider .item img {
  display: block;
  width: 100%;
  height: auto;
}

#labels {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
}

#labels .label {
  display: block;
  height: 25px;
  line-height: 25px;
  color: white;
  font-size: 12px;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

.label.x4 {
  width: 65px;
  background-image: url('/images/labels/label-4.png');
}

.label.x5 {
  width: 75px;
  background-image: url('/images/labels/label-5.png');
}

.label.x6 {
  width: 85px;
  background-image: url('/images/labels/label-6.png');
}

.label.x7 {
  width: 100px;
  background-image: url('/images/labels/label-7.png');
}

.label.x8 {
  width: 115px;
  background-image: url('/images/labels/label-8.png');
}

.label.x9 {
  width: 125px;
  background-image: url('/images/labels/label-9.png');
}

.label.x10 {
  width: 135px;
  background-image: url('/images/labels/label-10.png');
}

.label.x11 {
  width: 150px;
  background-image: url('/images/labels/label-11.png');
}

#label-inputs {
  background-color: white;
  font-size: 13px;
  color: #222;
  padding: 10px;
  line-height: 25px;
}

.avatar {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.m-t {
  margin-top: 10px;
}

.m-l {
  margin-left: 10px;
}

.m-2t {
  margin-top: 30px;
}

.label-text {
  color: #222;
}

.label-number {
  color: blue;
  padding-right: 8px;
}

h4.label-heading {
  font-weight: normal;
  padding-left: 5px;
  margin: 10px 0;
}

.label-heading.green {
  border-left: 5px solid #26c281;
}

.label-heading.yellow {
  border-left: 5px solid #faa400;
}

.ico-share {
  z-index: 1031;
  right: 10px;
  top: 10px;
  position: fixed;
  width: 25px;
  height: 28px;
  padding: 5px 12px 0 0;
}

.ico-share img {
  width: 100%;
  height: 100%;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  text-align: center;
}

#footer a {
  color: #666;
}

.view-count {
  color: #666;
  font-size: 12px;
  line-height: 12px;
}

.ico-eye {
  display: inline-block;
  width: 22px;
  height: 12px;
  margin-right: 5px;
  background-image: url("/images/eye.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#guide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 1031;
}

#guide img {
  float: right;
}
/* similar cars */

.panel-body {
  padding: 2px;
}
.car-item {
  text-align: center;
}

.car-item img {
  width: 100%;
  height: auto;
}

.car-item .car-image {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  min-height: 150px;
}

.car-item .car-image .car-name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
}

.car-item .car-image .car-price {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
}

.car-item .car-comments {
  color: #333;
  font-size: 12px;
  text-align: left;
}

.car-item .car-comments p {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

#similars-link {
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: 10px;
  width: 80px;
  height: 20px;
  z-index: 100;
}
/* misc */

.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  margin: 2px;
}

.loading {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

#selector-price, #selector-category, #selector-desc {
  padding: 12px;
  font-size: 13px;
  overflow-x: hidden;
}

#selector-desc {
  font-size: 11px;
  color: #666;
}

.price-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #4A90E2;
  border: 1px solid #4A90E2;
  border-radius: 4px;
  cursor: pointer;
}

.price-item.selected {
  background-color: #4A90E2;
  color: #fff;
}

.category-item, .dir-item {
  position: relative;
  margin: 0 -10px 10px -10px;
  cursor: pointer;
  clear: left;
}

.category-item img, .dir-item img {
  width: 100%;
  height: auto;
}

.category-item .mask, .dir-item .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 99%;
  background: rgba(74, 73, 74, 0.60);
}

.category-desc, .dir-desc {
  text-align: center;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -76px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  z-index: 100;
}

.category-desc small, .dir-desc small {
  font-size: 50%;
}

.category-state, .dir-state {
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 101;
}

#dir_list {
  margin: 0 -5px;
}

.dir-state {
  width: 100%;
  margin-left: -25px;
  color: white;
  font-size: 13px;
}

.category-state {
  margin-left: -13px;
  width: 25px;
  height: 25px;
  background-image: url("/images/cats/not-selected.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.category-state.selected {
  background-image: url("/images/cats/selected.png");
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

#re-chooser {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1031;
}
.btn {
  padding: 3px 6px;
  font-size: 12px;
}
.lazy-hidden {
  background: #eee url('http://cdn.staticfile.org/jquery.lazyloadxt/1.0.5/loading.gif') no-repeat 50% 50%;
}