<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{#if title}}{{title}}-拍立行买车助手{{else}}拍立行买车助手{{/if}}</title>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?57b1e19d8f395734f0e1b028297e950b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  {{#if cssUrl}}
  <link rel="stylesheet" href="{{cssUrl}}" /> {{/if}}
  <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/jquery.lazyloadxt/1.0.5/jquery.lazyloadxt.spinner.min.css">
  {{#if jssdkApi}}
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  {{/if}}
  <script type="text/javascript" src="http://cdn.staticfile.org/zepto/1.0rc1/zepto.min.js"></script>
  <script type="text/javascript" src="http://cdn.staticfile.org/jquery.lazyloadxt/1.0.5/jquery.lazyloadxt.min.js"></script>
  <script type="text/javascript">
    $(function() {
      setTimeout(function() {$(window).trigger('scroll');}, 2000);
    });
  </script>
</head>
